<div class="container">
  <app-main-navigation></app-main-navigation>

  <br />

  <router-outlet></router-outlet>

  <!-- <button class="btn btn-primary" (click)="toggle = !toggle">Toggle</button>

  <hr />

  <input type="text" [(ngModel)]="title" />

  <app-life-cycle *ngIf="toggle" [title]="title"></app-life-cycle> -->

  <!-- <app-directives></app-directives> -->

  <!-- <app-pipe></app-pipe> -->

  <!-- <app-login></app-login> -->

  <!-- <app-register></app-register> -->

  <!-- <app-comp-a></app-comp-a>
  <app-comp-b></app-comp-b> -->

  <!-- <app-observable></app-observable> -->

  <!-- <app-expenses></app-expenses> -->

  <!-- <app-users></app-users> -->
</div>
