<ul class="list-group">
  <li
    class="list-group-item mb-4"
    *ngFor="let user of users; first as isFirst"
    [ngClass]="{ highlight: isFirst }"
  >
    <div class="row">
      <div class="col-4">
        <app-user-img
          (childEvent)="onMoreInfo($event)"
          [user]="user"
        ></app-user-img>
      </div>
      <div class="col">
        <app-user-info [user]="user">
          <h1>{{ user.firstName }} {{ user.lastName }}</h1>
          <!-- <main>The Main Content</main>
          <footer>&copy; Rights Reserved.</footer> -->
        </app-user-info>
      </div>
    </div>
  </li>
</ul>

<!-- <app-card>
  <h1>Heading</h1>
  <p>Text</p>
  <button>Ok</button>
  <button>Cancel</button>
</app-card> -->
