<h1>Pipe Examples</h1>

<h2>Custom Pipe</h2>

<p>Country Code Pipe : {{ 987654321 | countryCode }}</p>
<!-- <p>Reverse Pipe : {{ "Hello World" | reverse }}</p> -->

<div class="row mb-4">
  <div class="col-6">
    <select class="form-control" [(ngModel)]="filteredStatus">
      <option value="">Filter by Status</option>
      <option value="completed">Completed</option>
      <option value="pending">Pending</option>
    </select>
  </div>
  <div class="col-6">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="onAddTodo()">
        Add New Todo
      </button>
    </div>
  </div>
</div>

<ul class="list-group">
  <li
    class="list-group-item mb-4"
    *ngFor="let todo of todoCollection | filter: filteredStatus"
  >
    <p>
      {{ todo.label | titlecase }}
      <span class="float-end">{{ todo.status }}</span>
    </p>
  </li>
</ul>

<hr />

<h2>Built-in Pipes</h2>

<p>UpperCase Pipe : {{ "hello world" | uppercase }}</p>
<p>LowerCase Pipe : <span [innerHTML]="someText | lowercase"></span></p>
<p>TitleCase Pipe : {{ "HELLO WORLD" | titlecase }}</p>
<p>Percent Pipe : {{ 0.8 | percent }}</p>
<p>Currency Pipe : {{ 10 | currency: "INR" }}</p>
<p>Date Pipe : {{ theDate | date: "dd-MM-yyyy" }}</p>
<p>JSON Pipe : {{ { firstName: "John", lastName: "Doe" } | json }}</p>
<p>Number Pipe : {{ 123.4567 | number: "5.1-2" }}</p>
<p>Async Pipe : {{ promise | async }}</p>
