<div class="backdrop">
  <div class="my-dialog">
    <h2 class="text-center">Add Expense</h2>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <!-- title -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder=""
          formControlName="title"
        />
        <label for="title">Title</label>
      </div>

      <!-- amount -->
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          name="amount"
          id="amount"
          placeholder=""
          formControlName="amount"
        />
        <label for="amount">Amount</label>
      </div>

      <!-- buttons -->
      <div class="row">
        <div class="col">
          <div class="d-grid">
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid">
            <button (click)="onClose()" type="button" class="btn btn-secondary">
              Close
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
